#locationsearch {
	color: #000;
}
#locationsearch IMG {
	background: none !important;
	padding: none !important;
	max-width: none !important;
	max-height: none !important;
	border: none !important;
}
#locationsearch A {
	color: #00C;
	background: none;
	text-decoration: none;
}
#locationsearch A:hover {
	background: none;
	text-decoration: underline;
}
#searchForm {
	text-align: left;
}
#searchForm #addressInput {
	width: 250px;
}
#searchForm #addressSubmit {
	width: auto;
}
#searchForm SELECT {
	width: auto;
}
#searchForm P {
	margin: 10px auto;
}
#map_search LABEL {
	float: left;
}
#map_search .float_text_left {
	float: left;
	padding-right: 5px;
}
#locationsearch-updating {
	display: none;
	background: #FFF;
	color: #000;
	vertical-align: middle;
	text-align: center;
}
#locationsearch-updating IMG {
	vertical-align: middle;
	text-align: center;
}
.markertext {
	font-size: 0.9em;
	line-height: 1.2em;
	color: #000;
}
.markertext .bubble_category {
	font-size: 0.6em;
	font-style: italic;
}
.markertext A {
	color: #00C;
	text-decoration: underline;
}
.markertext H3 {
	margin-top: 0 !important;
	text-align: left !important;
	line-height: 1.2em !important;
}
.markertext .search-term {
	background: #FF6;
}
#results,
#minisearchresults {
	margin-top: 39px;
	background: #f5eee8;
	padding: 10px;
	width: 260px !important;
	margin-left: 20px;
	-webkit-box-shadow:  0px 8px 6px -6px #000000;
    box-shadow:  0px 8px 6px -6px #000000;
}
.result,
.mini_search_result {
	margin: 0;
	padding: 2px 5px;
	font-size: 11px;
	line-height: 1.2em;
}
.result SMALL,
.mini_search_result {
	font-size: 0.7em;
	color: #999;
}
.result:hover,
.mini_search_result:hover {
	background: #EBF0F1;
}
.result .search-term {
	background: #FF6;
	color: #000;
}
.results_nearby {
	color: #6c5c65;
	font: italic 18px 'Open Sans', Arial, sans-serif;
	padding: 0 0 6px 6px;
	margin: 0.25em 0 0.5em;
}
.result_name,
.mini_search_link {
	background: url(images/search_arrow.png) right 7px no-repeat;
	width: 100%;
	padding: 0;
	border-bottom: #bababb dashed 1px;
	display: block;
	float: left;
}
.result_name_title h3,
.mini_search_link {
	color: #b5a9b1;
	font: italic 18px 'Open Sans', Arial, sans-serif;
	margin: 0 !important;
	padding: 0;
	text-transform: none;
	text-decoration: none;
}
.result_name_title {
	color: inherit;
	text-decoration: none;
}
.location_search_title, 
.location_search_distance_cell, 
.location_search_taxonomy_cell {
	font-weight: bold;
	vertical-align: top;
}
.no-linebreak {
	white-space: nowrap;
}
.ls-single-location-default-template {
	padding: 3px;
}
.ls-single-map {
	float: left;
	width: 105px;
}
.ls-single-location-data {
	margin-left: 105px;
}
.ls-single-location-data-ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
.ls_content_blocks label {
	min-width: 150px;
}
.ls_contact_number,
.ls_caring_email {
	margin: 1em;
}
.editor_row_label {
	padding: 0 10px !important;
}

@font-face {
  font-family: 'FontAwesome';
  src: 	url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: 	url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    	url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    	url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ls_twitter_icon,
.ls_facebook_icon,
.ls_pinterest_icon,
.ls_googleplus_icon {
	font-size: 2em;
	color: #f067a6;
	font-family: 'FontAwesome';
	text-decoration: none;
	margin-right: .3em;
}

.ls_trademark {
	font-size: .75em;
	vertical-align: super;
}
.bubble_contact{
	margin: 0 !important;
}

.home .location_search tbody tr td,
.home #locationsearch {
	display: none;
}

.home #location_search_form .group,
.home #careMiniSearch {
	background-color: #ed99bf;
	color: #8d7f89;
	font-style: italic;
}

.home .location_search_zip_cell,
.home .location_search_submit_cell {
	display: table-cell !important;
}

.home #location_search_submit_field,
.home .ls_mini_submit {
	text-decoration: none;
	color: #ed99bf !important;
	background-color: #e765a4 !important;
	background-image: none !important;
	border: none !important;
	box-shadow: none !important;
	border-radius: 32px;
	padding: 5px 12px 6px !important;
}

.home #location_search_zip_field,
.home .ls_mini_zip {
	background-color: #8d7f89;
	color: #a7a0a7;
	border: none !important;
	width: 185px !important;
}

.home .mini_search_p {
	margin: 5px 0 !important;
}

.mini_search_submit {
	font-family: 'FontAwesome';
}